.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 350px;
  height: 225px;
}

.card {
  flex: 1 1 auto;
  height: 100%;
  width: var(--card-width);
  position: relative;
  transition: all 500ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card:hover {
  flex: 2 0 auto;
} 

.card:last-child {
  flex: 1 0 var(--card-width);
} */
